code {
  padding: .15rem .35rem;
  margin: 0 .25rem;
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-300);
  border-radius: 3px;
}
#header-logo {
  height: 5rem;
  width: auto;
  margin-right: 3rem;
}
#workflow-table {
  max-height: 400px;
  overflow-y: auto;
}
#workflow-table td {
  vertical-align: middle;
}
#biocommons-services .logo {
  height: 80px;
  width: auto;
  padding-bottom: 1rem;
}
.video-container {
  position: relative;
}
.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
#videoModal .modal-content {
  height: 80vh;
}
.table-inputs td {
  padding: .5rem 1rem;
}
.table-inputs tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.contributor {
  margin: 0 4px;
  cursor: pointer;
}
.contributor .github-avatar {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 4px;
}
.contributor .wrapper {
  display: inline-block;
  width: 35px;
  min-height: 35px;
  margin: 2px 0;
  text-align: center;
}
.contributor.dead-link {
  cursor: default;
  color: var(--bs-gray-800);
}
#tocMenu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 3;
}
#tocMenuDropdown::after {
  content: unset;
}
.menu-btn {
  color: #aaa;
  padding: 0 .35rem;
  border-right: 1px solid #aaa;
  transition-duration: .25s;
  text-decoration: none;
}
.menu-btn:last-child {
  border-right: none;
}
.menu-btn:hover {
  color: black;
}

/* BS override */
ul.nav-pills {
  background-color: var(--bs-gray-100);
  padding: 1rem;
}
ul.nav-pills li.nav-item {
  margin: 0 1rem .5rem 1rem;
}
.nav-pills .nav-link {
  color: var(--bs-gray-600);
  border: 1px solid var(--bs-gray-600);
  transition-duration: 0.25s;
}
.nav-pills .nav-link:not(.active):hover {
  color: var(--color);
  border: 1px solid var(--color);
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--color);
}
.nav-pills .nav-link.nav-link-danger {
  color: var(--bs-danger);
  border: 1px solid var(--bs-danger);
}
.nav-pills .nav-link.nav-link-danger .fas  {
  color: var(--bs-danger);
}
.nav-pills .nav-link.active.nav-link-danger,
.nav-pills .show>.nav-link-danger {
  color: white;
  background-color: var(--bs-danger);
}
.nav-pills .nav-link.active.nav-link-danger .fas,
.nav-pills .show>.nav-link-danger .fas {
  color: white;
}
.accordion-button.static::after {
  content: none;
}
.accordion-button.static {
  cursor: default;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
  box-shadow: none;
}
.list-group-item-danger .table {
  color: #842029;
  margin: 0;
}
.list-group-item-danger code {
  background: transparent;
  color: #842029;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .lab-header {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .lab-header {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .lab-header {
    font-size: 2.5rem;
  }
}
